[submodule "autotest"]
	path = autotest
	url = https://github.com/EOxServer/autotest.git
[submodule "schemas"]
	path = schemas
	url = https://github.com/EOxServer/schemas.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/EOxServer/documentation.git
