*.py[cod]
*.so

# Packaging
/dist
/build
*.egg
*.egg-info

# Developers
.project
.pydevproject

# Vagrant
/vagrant/.vagrant*
/vagrant/shares/httpd_conf.d/README
/vagrant/shares/httpd_conf.d/welcome.conf
/vagrant/shares/httpd_conf.d/wsgi.conf.rpmnew
