language: python
python:
  - "2.6"
  - "2.7"
install:
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update
  - sudo apt-get install aptitude
  - sudo aptitude install -y gdal-bin python-gdal libgdal1-dev
  - sudo python setup.py install --disable-extended-reftools
script:
  - cd autotest
  - python manage.py test core
  - python manage.py test backends
  - python manage.py test coverages
  - python manage.py test autotest_services
