django==5.2.*
python-dateutil==2.9.*
django-model-utils<5.0.0
django-prometheus==2.3.*
zipstream==1.1.*
psycopg2==2.9.*
lxml==5.4.*
pycql==0.0.8
matplotlib==3.10.*
numpy<2.0.0
pyows>=0.2.6
python-keystoneclient<6.0.0
python-swiftclient<5.0.0
gunicorn==23.0.*
mapscript==8.0.*
jsonfield==3.4.*