django==5.2.*
django-model-utils<6.0.0
django-prometheus==2.4.*
zipstream==1.1.*
psycopg2==2.9.*
lxml==6.0.*
pycql==0.0.*
matplotlib==3.10.*
numpy<2.5.0
pyows>=0.2.6
python-keystoneclient<6.0.0
python-swiftclient<5.0.0
gunicorn
mapscript==8.*
jsonfield==3.2.*
