.container {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.header {
    font-weight: bold;
}

.ui-dialog {
    opacity: 0.9;
}

#div-busy-indicator {
    z-index: 5000;
    position: fixed;
    padding: 10px;
    top: 50%;
    left: 50%;
    text-align: center;
    display: none;
}

.tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
    display: none;
}

.tooltip h3, .tooltip div { margin: 0; }

.error {
    background-color: #fcc;
}

.ui-coverage-item {
    padding: 3px;
    margin-bottom: 2px;
}

.ui-band-item {
    margin: 0.3em;
    padding: 0.15em;
    cursor: move;
}

.ui-state-highlight {
    margin: 0.3em;
    padding: 0.15em;
}

.scrollable {
    max-height: 120px;
    width: 280px;
    overflow: scroll;
}

#div-coverage-info .ui-section {
    margin: 0.2em;
    padding: 0.2em;
}

#div-coverage-info table[1] td {
    border: 1px solid #111;
    margin: 0px;
}
