#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh  $@ --with python2

override_dh_auto_build:
	python setup.py build --disable-extended-reftools

override_dh_auto_install:
	python setup.py install --disable-extended-reftools --no-compile --root=$(CURDIR)/debian/tmp --install-layout=deb;