#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh  $@ --with python2

override_dh_auto_build:
	python setup.py build

override_dh_auto_install:
	python setup.py install --no-compile --root=$(CURDIR)/debian/tmp --install-layout=deb;